/*--------common-style start-----*/
body {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: auto;
}

.btn {
    padding: 7px 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-weight: 700;
}

/*--------ommon-style End------*/

/*--------header-area start-----*/
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding: 30px 30px 0px 70px;
    background-color: black;
    color: white;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 50px;
}

.header-info h1 {
    font-size: 48px;
}

.header-img img {
    height: 475px;
}

/*--------header-area End------*/

/*--------Blog-area start------*/

.blog {
    display: grid;
    grid-template-columns: 210px 846px;
    column-gap: 22px;
    margin: 100px 0px;
}

.aside-menu {
    margin-top: -15px;
}

.aside-menu ul {
    background-color: black;
    padding: 20px 27px;
    border-radius: 5px;
}

.aside-menu li {
    list-style: none;
    margin-bottom: 24px;
    text-align: center;
    width: 143px;
    background-color: red;
    padding: 13px 5px;
    color: white;
    border-radius: 5px;
}

.aside-menu a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.playears {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.player {
    border: 1px solid #e9e0e0;
    border-radius: 10px;
}

.player-img img {
    width: 272px;
}

.player-info {
    padding: 15px;
}

.player-info button {
    padding: 5px 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.player-cmd span {
    padding-right: 16px;
    color: #101010;
}

/*--------Blog-area End------*/

/*--------Footer-area start------*/
/*--------Footer-area End------*/