/*---------Google Fonts---------*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');


/*--------common-style start-----*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Plus', serif;
}

.all-content {
    width: 80%;
    margin: auto;
}

.btn {
    padding: 10px 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    transition: .5s;
}

.btn:hover {
    background-color: #0d5426;
}

/*--------ommon-style End------*/

/*--------header-area start-----*/
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding: 30px 30px 0px 70px;
    background-color: #49895f;
    color: white;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: .5s;
}

header:hover {
    background-color: #3b8787;
}

.header-info h1 {
    font-size: 48px;
}

.header-info p {
    text-overflow: ellipsis
}

.header-img img {
    height: 475px;
}

/*--------header-area End------*/



/*--------Main-area start------*/
main {
    margin: 150px 0px;
}

/*--------Blog-area start------*/
.blog {
    display: grid;
    grid-template-columns: 210px 846px;
    column-gap: 22px;
    margin: 70px 0px;
}

.aside-menu {
    margin-top: -15px;
}

.aside-menu ul {
    background-color: black;
    padding: 20px 27px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.aside-menu ul :nth-child(3) {
    background-color: red;
    color: white;
}

.aside-menu ul :nth-child(3) a {
    color: white;
}

.aside-menu li {
    list-style: none;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    padding: 13px 5px;
    border-radius: 5px;
}

.aside-menu a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.playears {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.player {
    border: 1px solid #e9e0e0;
    border-radius: 10px;
}

.player-img img {
    width: 100%;
}

.player-info {
    padding: 15px;
}

.player-info button {
    padding: 5px 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.player-cmd span {
    padding-right: 16px;
    color: #101010;
}

.all-players {
    text-align: center;
    display: none;
}

.all-players a {
    text-align: center;
    padding: 10px 25px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/*--------Blog-area End------*/

/*--------Footer-area start------*/
footer {
    text-align: center;
    background-color: black;
}

.footer-content {
    padding-top: 100px;
}

footer h1 {
    font-size: 48px;
    color: white;
}

.footer-menu {
    margin-top: 50px;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
}


.footer-media {
    margin-top: 50px;
}

.footer-media ul {
    display: flex;
    justify-content: center;
}

.footer-media ul li {
    list-style: none;
}

.footer-media ul li a {
    color: white;
    padding: 15px;
    font-size: 25px;
}

.copy-right {
    background-color: #161515;
}

.copy-right h3 {
    color: white;
    padding: 8px;
}

/*--------Footer-area End------*/


/*----------------------------Another Page---------*/

/*---------Matchs-Area-Start----*/

.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}





.match-img {
    display: flex;
    align-items: center;
}

.match-img img {
    width: 93px;
    height: 56px;
}

.match-img h1 {
    padding: 0px 10px;
}

.match-info {
    text-align: center;
}

/*---------Matchs-Area-End----*/




/*--------media Query--------*/

/*-------mobile---------*/

@media only screen and (max-width: 768px) {
    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header img {
        width: 100%;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .aside-menu ul {
        background-color: white;
        font-size: 27px;
    }

    .playears {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-menu ul {
        flex-direction: column;
    }
}

/*------------Ipad---------*/

@media only screen and (min-width: 769px) and (max-width: 992px) {

    header {
        column-gap: 10px;
    }

    header img {
        width: 100%;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .aside-menu ul {

        background-color: white;
        font-size: 27px;
        flex-direction: row;
    }

    .aside-menu ul li {
        padding: 15px 36px;
    }

    .playears {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-players {
        display: block;
    }
}



/*-----Animation--------*/

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 400px;
        display: none;
    }
}

.animation-1 {
    animation: mymove 5s infinite;
    position: relative;
}